<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="shopee_connector_oauth_callback">
        <observer name="shopee_connector_shop_update"
            instance="Upvado\ShopeeConnector\Observer\ShopUpdateObserver" />
    </event>
</config>
